### palindrome
- 121=121 # palindrome
- 123=321 # not palindrome
- mom=mom
- madam=madam
- sis=sis
- dad=dad

In [2]:
def is_palindrome(st):
    if st==st[::-1]: # reversing the str
        return True
    else:return False
    
is_palindrome(input("Enter the string:))

Enter the string:madam

True

In [6]:
def number_palindrome(num):
    if num==num[::-1]: # reversing the str
        return True
    else:return False
    
number_palindrome(input("Enter the number:")) #int to the string

Enter the number:989

True

In [7]:
def number_palindrome(num):
    st=str(num)
    if st==st[::-1]: # reversing the str
        return True
    else:return False
    
number_palindrome(int(input("Enter the number:"))) #int to the string

Enter the number:939

True

In [8]:
# characters :a,r

### Data Structures 
- data type:the data belongs to some perticular category
- way of ogranizing the data in a perticular format
- 4 data structures
    - tuple()
    - list()
    - set()
    - dictionary()

### tuple
- it is one of the data structures in python
- it is used to store data collectively
- heteregenous data structure-- int,float and str at a time
- immutable in nature
- it cannot be updated/modified once it is initialized
- represented by ()
- tuple() # pre defined function

In [11]:
t=tuple((1,2,3)) # paranthesis
t

(1, 2, 3)

In [13]:
t2=(12,"hi",'hello',90.65,953,92,'I am Ruthu')
t2

(12, 'hi', 'hello', 90.65, 953, 92, 'I am Ruthu')

In [18]:
# accesing the elements of tuple one by one
t2[1] # 2nd element

'hi'

In [17]:
t2[5] # 6th element

92

In [21]:
t2[-1] # last element

'I am Ruthu'

In [22]:
t2[-4] # 5th ele from last

90.65

In [23]:
t2[::]

(12, 'hi', 'hello', 90.65, 953, 92, 'I am Ruthu')

In [25]:
t2[:]

(12, 'hi', 'hello', 90.65, 953, 92, 'I am Ruthu')

In [26]:
for item in t2:
    print(item)

12
hi
hello
90.65
953
92
I am Ruthu

In [27]:
t2[::2]

(12, 'hello', 953, 'I am Ruthu')

In [29]:
t2[::-2] # alternate items from last to first

('I am Ruthu', 953, 'hello', 12)

#### tuple methods
- the methods can only be applied on tuple .
- count()
    - counts the no.of occurences of perticular item in tuple
    - syntax:
        - tuple.count(item)
- index()
    - index of item
    - tuple.index(item)

In [31]:
t2

(12, 'hi', 'hello', 90.65, 953, 92, 'I am Ruthu')

In [32]:
t2.index("hello")

2

In [33]:
t2.index(92)

5

In [35]:
repeated=(12,90,12,'apssdc','kits',87,90,34,12,'ruthu')
repeated.count(12)

3

In [36]:
repeated.count(90)

2

In [38]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [39]:
repeated.replace('kits')

AttributeError: 'tuple' object has no attribute 'replace'

In [42]:
"ruthu".replace('u','@')

'r@th@'

In [43]:
# read a string from user and print the vowels in that string
# KKR&KSR Institute of Technology and Sciences
#o/p:I,i,u,o,o,o,a,i,e,e # should be printed as an output

In [44]:
def print_vowels(st):
    for ch in st:
        if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u" or ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U":
            print(ch,end=" ")
        
print_vowels(input("Enter the string:"))

Enter the string:KKR&KSR Institute of Technology and Sciences
I i u e o e o o a i e e

In [45]:
def separate_vowels(st):
    print("lower case vowels",end=":")
    for ch in st:
        if ch=="a" or ch=="e" or ch=="i" or ch=="o" or ch=="u":
            print(ch,end=" ")
    print()
    print("upper case vowels",end=":")    
    for ch in st:
        if ch=="A" or ch=="E" or ch=="I" or ch=="O" or ch=="U":
            print(ch,end=" ")
        
separate_vowels(input("Enter the string:"))

Enter the string:KKR&KSR InsTITUTE of TEChNoloGY AND Sciences
lower case vowels:o o o i e e
upper case vowels:I I U E E A

In [47]:
def vowels(st):
    v=('a','e','i','o','u','A','E','I','O','U')
    for ch in st:
        if ch in v:
            print(ch,end=" ")
vowels(input())
# print the vowels separately

KKR&KSR InsTITUTE of TEChNoloGY AND Sciences
I I U E o E o o A i e e

### List
- collection of data items
- hetegenous data:it can store different type of data at a time
- mutable in nature
    - we can update existed data,add new data and remove the unncessary data from list
- represented by []
- list()

In [48]:
l=list((90,23,51,72,'ruthu','python'))
print(l)

[90, 23, 51, 72, 'ruthu', 'python']

In [49]:
l[0]

90

In [51]:
l[-1] # list[index]

'python'

In [52]:
l[:5] # 0 to 5th element

[90, 23, 51, 72, 'ruthu']

In [53]:
l[::-1] # list in reverse order

['python', 'ruthu', 72, 51, 23, 90]

In [54]:
for item in l:
    print(item)

90
23
51
72
ruthu
python

In [55]:
for index in range(len(l)): # 6 indices
    print(l[index]) # list[index]

90
23
51
72
ruthu
python

In [56]:
len(l) # no.of items in list

6

In [57]:
len("ruthu from apssdc") # using by calling

17

In [58]:
count=0
for ch in "ruthu from apssdc": # 
    count+=1
print(count) # display

17

In [60]:
# python program to count the no.of items in list
items=0
for item in ["ruthu",'90',84,'apssdc','kits',501,5432]:
    print(item,end=" ")
    items+=1
    print()
print("no.of items in list:",items)

ruthu
90
84
apssdc
kits
501
5432
no.of items in list: 7

In [61]:
# read a list of space separate integers from user and print the even no.s init
# 987 654 12 10 38 29 51 53 101 107 82 49
# evens:654 12 10 38 82

In [65]:
nums=input("Enter the values:").split() # " "
print(nums)
print("evens",end=":")
for num in nums:
    if int(num)%2 is 0:
        print(num,end=" ")

Enter the values:987 654 12 10 38 29 51 53 101 107 82 49
['987', '654', '12', '10', '38', '29', '51', '53', '101', '107', '82', '49']
evens:654 12 10 38 82

In [67]:
li=[987,654,12,10,38,29,51,53,101,107,82,49]
# count the number of even no.s in the list
evens=0
for item in li:
    if item%2==0:
        print(item)
        evens+=1
print("no.of even no.s are",evens)

654
12
10
38
82
no.of even no.s are 5

#### list methods
- In order to check the list methods :dir(list)
- list.append()
    - adds new data to the existed list
- pop()
    - by default it will remove the last ele in list
- pop(index)
    - indexed item will be removed
- remove()
    - perticular ele will be removed
- extend()
    - expanding the list
- index()
    - finding the perticular index
- count()
    - counts the no.of occurences of perticular item in list
- min(list)
    - minimum value in list
- max()
    - max value
- sum()
    - sum of the values
- sort()
    - ascending order 
- reverse()
    - reverse the order of items in list
- copy()
    - make the copy of list
- clear()
    - empties the list
- insert()
    - new data is added at perticular index
    - list.insert(index,data)

In [68]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [69]:
li

[987, 654, 12, 10, 38, 29, 51, 53, 101, 107, 82, 49]

In [70]:
min(li) # minimum value

10

In [71]:
max(li)

987

In [75]:
print("maximum value is",max(li))

maximum value is 987

In [74]:
print("sum of values in list:",s)

sum of values in list: 2173

In [73]:
s=0
for num in li:
    s=s+num
print("sum of values in list",s)

sum of values in list 2173

In [76]:
li.count(12)

1

In [77]:
li.count(90) # 90 is not there in list li

0

In [78]:
li

[987, 654, 12, 10, 38, 29, 51, 53, 101, 107, 82, 49]

In [84]:
li.insert(6,"new") # cell executed

In [85]:
li

[987, 654, 12, 10, 38, 29, 'new', 'new', 'new', 51, 53, 101, 107, 82, 49]

In [86]:
li.pop()

49

In [87]:
li

[987, 654, 12, 10, 38, 29, 'new', 'new', 'new', 51, 53, 101, 107, 82]

In [88]:
li.extend([1,2,3]) # expands

In [89]:
li

[987, 654, 12, 10, 38, 29, 'new', 'new', 'new', 51, 53, 101, 107, 82, 1, 2, 3]

In [90]:
li.append([1,2,3]) # the entire list is appended/added

In [92]:
print(li)

[987, 654, 12, 10, 38, 29, 'new', 'new', 'new', 51, 53, 101, 107, 82, 1, 2, 3, [1, 2, 3]]

In [93]:
li.pop(6)

'new'

In [95]:
print(li)

[987, 654, 12, 10, 38, 29, 'new', 'new', 51, 53, 101, 107, 82, 1, 2, 3, [1, 2, 3]]

In [96]:
li.pop(5)

29

In [97]:
print(li)

[987, 654, 12, 10, 38, 'new', 'new', 51, 53, 101, 107, 82, 1, 2, 3, [1, 2, 3]]

In [98]:
#list.remove(ele)
li.remove('new')

In [99]:
print(li)

[987, 654, 12, 10, 38, 'new', 51, 53, 101, 107, 82, 1, 2, 3, [1, 2, 3]]

In [100]:
li.remove('new')

In [101]:
li

[987, 654, 12, 10, 38, 51, 53, 101, 107, 82, 1, 2, 3, [1, 2, 3]]

In [102]:
li.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [103]:
li.pop()

[1, 2, 3]

In [104]:
print(li)

[1, 2, 3, 10, 12, 38, 51, 53, 82, 101, 107, 654, 987]

In [105]:
li.sort()

In [106]:
li

[1, 2, 3, 10, 12, 38, 51, 53, 82, 101, 107, 654, 987]

In [107]:
# sort the list in reverse order
li.reverse()

In [113]:
print(li)

NameError: name 'li' is not defined

In [109]:
li.clear()

In [110]:
li

[]

In [111]:
del li

In [112]:
li

NameError: name 'li' is not defined

In [119]:
# print the repeated items in list
values=input().split()
print("printing the repeated items",end=":")
for item in values:
    if values.count(item)>1:
        print(item)

987 654 12 10 38 29 51 53 101 107 82 49 987 50 49 ruthu apssdc kits ruthu
printing the repeated items:987
49
987
49
ruthu
ruthu

In [120]:
# How to find the unique elements in the list
values=input().split()
print("printing the repeated items")
for item in values:
    if values.count(item)==1:
        print(item)

90 87 ruthu 87 10 hi i am
printing the repeated items:90
ruthu
10
hi
i
am

In [125]:
li=[90,82,987,'ruthu','apssdc',1, 2, 3, 10, 12, 38, 51, 53, 82, 101, 107, 654, 987]
unq=[]
for item in li:
    if item not in unq:
        unq.append(item)
unq

[90, 82, 987, 'ruthu', 'apssdc', 1, 2, 3, 10, 12, 38, 51, 53, 101, 107, 654]

In [122]:
a=[1,2,2,3,5,5,6,8]
b=[]
for i in a:
    if a.count(i)==1: # without using count
        b.append(i)
print(b)

[1, 3, 6, 8]

In [126]:
# read n space integers from user and find/print the prime no.s in that sequence

In [127]:
# list is also having one disadvantage
num=int(input("number:"))
lt=input().split()
for i in li:
    if i==num:
        print(i)

number:9
90 87 92 10 9 45 90

list allows duplicate data elements

### sets 
- well defined collection of elements
- it removes the duplicate elements
- represented by {}
- slicing is not allowed
- set()

In [128]:
A=set((9,8,34,9,80,12,80)) # 
print(A)

{34, 8, 9, 12, 80}

In [129]:
A

{8, 9, 12, 34, 80}

In [130]:
A[0] # no slicing

TypeError: 'set' object is not subscriptable

In [132]:
B={9,8,90,12,'ruthu','hello','90',12}
B

{12, 8, 9, '90', 90, 'hello', 'ruthu'}

#### set methods
- union()
- intersection()
- difference()
- disjoint()
- symmetric

In [134]:
# union---(or)
A.union(B)# all the ele in both sets

{12, 34, 8, 80, 9, '90', 90, 'hello', 'ruthu'}

In [135]:
A.intersection(B)  # common elements

{8, 9, 12}

In [136]:
A.difference(B) # elements of B in A

{34, 80}

In [137]:
A-B

{34, 80}

In [138]:
A.isdisjoint(B) # not connected 
#{AUB=pi}

False

In [139]:
B

{12, 8, 9, '90', 90, 'hello', 'ruthu'}

In [140]:
SUB={'hello',12,9}
SUB.issubset(B) # a part of main set

True

In [141]:
B.issuperset(SUB)

True

In [143]:
c={90,'new','extra'}
c.issubset(B) #

False

In [144]:
B

{12, 8, 9, '90', 90, 'hello', 'ruthu'}

In [145]:
# Symmetric difference
# it give non similar elements present in both sets

In [146]:
AA

{8, 9, 12, 34, 80}

In [147]:
B

{12, 8, 9, '90', 90, 'hello', 'ruthu'}

In [148]:
A.symmetric_difference(B)

{34, 80, '90', 90, 'hello', 'ruthu'}

In [149]:
A.union(B)

{12, 34, 8, 80, 9, '90', 90, 'hello', 'ruthu'}

In [150]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [151]:
A.intersection_update(B) #

In [152]:
A

{8, 9, 12}

In [153]:
A.clear()

In [154]:
A

set()

In [156]:
new=A.copy() # copies the set

In [157]:
new

set()

In [158]:
new=B.copy()

In [159]:
new

{12, 8, 9, '90', 90, 'hello', 'ruthu'}

In [160]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [161]:
new.add("new")

In [162]:
new

{12, 8, 9, '90', 90, 'hello', 'new', 'ruthu'}

In [163]:
new.add("Ashok")

In [164]:
new

{12, 8, 9, 90, '90', 'Ashok', 'hello', 'new', 'ruthu'}

In [165]:
ord("A")

65

In [166]:
ord("a")

97

In [172]:
unq

[90, 82, 987, 'ruthu', 'apssdc', 1, 2, 3, 10, 12, 38, 51, 53, 101, 107, 654]

In [173]:
set(li)

{1, 10, 101, 107, 12, 2, 3, 38, 51, 53, 654, 82, 90, 987, 'apssdc', 'ruthu'}

### Dictionary
- paired data structure
- 2 things
- key and value
- {key:value}
- realtime dictionary
    - {word:meaning}
    - ex:google
        - search:related info
- entire dictionary mainly depends upon keys
- keys are unique in nature
    - keys are the references for values
    - keys can be any data type
- values may be similar
    - values can be of any data structure
- {:}
- mutable
- key&val together called as item

index(dafualt value) given by memory

In [175]:
d=dict()#

In [176]:
dic={12:'ruthu','float':90.76,'name':'kits'}
print(dic)

{12: 'ruthu', 'float': 90.76, 'name': 'kits'}

In [178]:
for item in dic:
    print(item)

12
float
name

#### dict methods
- keys()
- values()
- items()
- popitem()
- update()
- dic[key]=value

In [179]:
for key in dic.keys():
    print(key)

12
float
name

In [180]:
for val in dic.values():
    print(val)

ruthu
90.76
kits

In [184]:
for key,val in dic.items():
    print(key,val,sep=",")

12,ruthu
float,90.76
name,kits

In [185]:
dic.items()

dict_items([(12, 'ruthu'), ('float', 90.76), ('name', 'kits')])

In [186]:
dic

{12: 'ruthu', 'float': 90.76, 'name': 'kits'}

In [187]:
dic[12]="new" # updating the key value

In [188]:
dic

{12: 'new', 'float': 90.76, 'name': 'kits'}

In [189]:
dic['k']="new" # new item to the dict

In [190]:
dic

{12: 'new', 'float': 90.76, 'name': 'kits', 'k': 'new'}

In [191]:
dic.popitem()

('k', 'new')

In [192]:
dic

{12: 'new', 'float': 90.76, 'name': 'kits'}

In [194]:
dic.get('float') # corresponding value

90.76

In [195]:
dic['float'] #

90.76

In [196]:
li[0]

90

In [197]:
dic.pop("float") # removing perticular key:value

90.76

In [198]:
dic

{12: 'new', 'name': 'kits'}

In [199]:
# prepare a dictionary of chars present in the string whose ascii value is even
# string:s t r i n g # if the asii value of chars is even ---s t r
s="string"
for i in s:
    if ord(i)%2==0:
        print(i)

t
r
n

In [200]:
chars={}
for ch in input("Enter the string:"):
    if ord(ch)%2 is 0:
        chars[ch]=ord(ch)
        
chars

Enter the string:Hi I am ruthu from apssdc

{'H': 72, ' ': 32, 'r': 114, 't': 116, 'h': 104, 'f': 102, 'p': 112, 'd': 100}

In [201]:
# you have to build applications
# menu card
# contact application

In [202]:
display the list of items...
customer:place order
    bill===print()

SyntaxError: invalid syntax (<ipython-input-202-36278751789b>, line 1)

### contact application
- add new contact
- search contact
- delete contact
- edit contact