### Today Topics
- Iterating statements 
- Control/Jumping statements
- C is meant for developing operating system
- it is procedure oriented language
- pythoon is not meant for process
- and Python both are same but syntax is different

### For loop
- an iterating statements that repeats the perticular statements for multiple times
- default incrementation
- syntax:
    - for iterator in iterable:
        - statements goes here
    - for iterator in range(iterable):
        - statements here

In [ ]:
# print the numbers present in a range(1,100)
print(1)
print(2)
print(3)
print(4)
.....
print(100) # 100 times

In [26]:
for num in range(1,101): # 100 itself
    print(num,end=" ") # end the statement with " "/space

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [28]:
# find the sum of n natural numbers
#n=10,(1,10)=55:n(n+1)//2--each +each+1
# sum of the numbers present from 1 to the number(n)
# n=6:1+2+3+4+5+6=21
s=0 # s variable
for num in range(1,11): 
    s+=num # s=s+num,
print("sum of first 10 natural numbers is",s)

sum of first 10 natural numbers is 55

In [29]:
n=int(input("Enter the number:"))
print("sum of first n natural numbers is",(n*(n+1))//2)

Enter the number:10
sum of first n natural numbers is 55

In [33]:
# print the factors of a number
# n=10:1,2,5,10==
# print the multiplication table
# 1 to n:1 to n/2
#20:1,2,4,5,10:exact divisor:

n=int(input())
print("Factors are",end=":")
for num in range(1,n+1):
    if n%num is 0:
        print(num,end=" ")

20
Factors are:1 2 4 5 10 20

In [37]:
#nth multiplication table
#n=int(input())
# 1 to 20
''' 4x1=4 # 
4x2=8
4x3=12
...
4x20=80 '''
n=int(input("enter n value"))
for i in range(1,11): # 9 iterations,4iteration # 1 to 10
 c=n*i
 print(n,"*",i,"=",c)

enter n value9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

In [38]:
n=int(input())
for num in range(1,11):
    print(n,'x',num,"=",n*num)

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [44]:
''' 1 to 20:continuos
9x1=9
9x3=27
9x5=45
...
9x15=135 '''
mul=int(input())
for num in range(1,21,2):
    print(mul,'x',num,"=",mul*num)

19
19 x 1 = 19
19 x 3 = 57
19 x 5 = 95
19 x 7 = 133
19 x 9 = 171
19 x 11 = 209
19 x 13 = 247
19 x 15 = 285
19 x 17 = 323
19 x 19 = 361

In [43]:
n=int(input ("enter a number")) 
for i in range(2, 21) : #19 iterations
    for i in range(1, 11) : #10 iterations for every iteration # 190 times 
        mul=n*i
        print(n, "*", i, "=", mul)

enter a number9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

#### Control statements/Jumping statements
- controls flow of execution
    - break,continue and pass

In [47]:
for num in range(1,21,3): # range(start,stop,step_count)
    print(10,"x",num,'=',10*num)
    if num==15:
        break #

10 x 1 = 10
10 x 4 = 40
10 x 7 = 70
10 x 10 = 100
10 x 13 = 130
10 x 16 = 160
10 x 19 = 190

In [48]:
1 2 3 4 5 6 7 8 9 10:
    1 3 5 7 9 # odds,skipped value=1,1+2=3+2=5,1+1=2

SyntaxError: invalid syntax (<ipython-input-48-7edd08098e75>, line 1)

In [50]:
# print the multiplication table in reverse order
''' 9x10=90
9x9=81
9x8=72
....
9x1=9 '''
for val in range(10,0,-1):
    print(19,'x',val,'=',19*val)

19 x 10 = 190
19 x 9 = 171
19 x 8 = 152
19 x 7 = 133
19 x 6 = 114
19 x 5 = 95
19 x 4 = 76
19 x 3 = 57
19 x 2 = 38
19 x 1 = 19

In [51]:
for val in range(10,0,-2):
    print(19,'x',val,'=',19*val)

19 x 10 = 190
19 x 8 = 152
19 x 6 = 114
19 x 4 = 76
19 x 2 = 38

In [57]:
# prime or not
# number:2 factors .i.e., 1 & number itself
p=int(input("Enter the number:"))
factors=0
for num in range(1,p+1): # p iteration
    if p%num==0: # condition
        factors+=1 # factors=factors+1,
if factors is 2:
    print("Prime number")
else:
    print("Not a prime")

Enter the number:13
Prime number

In [59]:
#10:1 2 5 10:4 factors,oral
n=int(input())
count=0
for num in range(1,n+1): # 
    if n%num==0:
        print(num,end=" ")
        count+=1 # count=count+1
print("no.of factors=",count)

50
1 2 5 10 25 50 no.of factors= 6

### While Loop
- user incrementation
- condition based iteration
- syntax:
    - while condition:
        - statements goes here

In [60]:
# print the numbers to 1 to 50 using while loop
num=1
while num<=50:
    print(num,end=" ")
    num=num+1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50

In [61]:
# even no.s present in the range of 1 to 50
num=2 # 2 to 51
while num<=50:
    print(num,end=" ")
    num=num+2

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50

In [62]:
# odd no.s present in the range of 1 to 50
num=1 # 2 to 51
while num<=50:
    print(num,end=" ")
    num=num+2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49

In [1]:
# print the multiplication table using while loop
t=int(input())
it=1
while it<=10:
    print(t,'x',it,'=',t*it) # process
    it+=1

9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [65]:
# print the multiplication table using while loop
t=int(input())
it=1
while it<=10:
    print(t,'x',it,'=',t*it) # process
    it+=2

9
9 x 1 = 9
9 x 3 = 27
9 x 5 = 45
9 x 7 = 63
9 x 9 = 81

In [66]:
# print the multiplication table in reverse order
x=int(input())
it=10
while it>=1:
    print(x,"x",it,'=',x*it) # 
    it=it-1 # it-=1

10
10 x 10 = 100
10 x 9 = 90
10 x 8 = 80
10 x 7 = 70
10 x 6 = 60
10 x 5 = 50
10 x 4 = 40
10 x 3 = 30
10 x 2 = 20
10 x 1 = 10

In [2]:
num=1
while num<=10:
    print(num,end=" ")
    num+=1

1 2 3 4 5 6 7 8 9 10

### Nested Loops
- Loop within loop
- Outer loop & inner loop
- for iterator in iterable
    - for iterator2 in iterable2:
        - statements goes here

#### matrix format
- rows and columns
- 2 dimensions:rows & cols
- 1 2 3
- 4 5 6  # 2rows with 3 columns,each row contains 3 cols,6 values

In [13]:
for row in range(1,4): # 3 rows
    for col in range(1,9): # 4 cols
        print(col,end=" ")
    print()

1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8
1 2 3 4 5 6 7 8

In [15]:
for row in range(1,4): # 3 rows
    for col in range(1,5): # 4 cols
        print(row,end=" ")
    print()

1 1 1 1
2 2 2 2
3 3 3 3

In [18]:
for row in range(1,6): # 3 rows
    for col in range(1,row+1): # it=1-->1,it=2-->2 times== 1 2 ,it=3-->3 times 1 2 3
        print(col,end=" ")
    print() # new line

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [17]:
for row in range(1,5): # 3 rows
    for col in range(1,5): # 4 cols
        print("kits",end=" ")
    print()

kits kits kits kits
kits kits kits kits
kits kits kits kits
kits kits kits kits

In [20]:
for row in range(6,0,-1): # 5 times
    for col in range(1,row+1): # 1 to row
        print(col,end=" ")
    print()

1 2 3 4 5 6
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [22]:
for row in range(6,0,-1): # 5 times
    for col in range(1,row+1): # 1 to row
        print(row,end=" ")
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [24]:
for row in range(5,0,-1): # 5 times
    for col in range(1,row+1): # 1 to row
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [25]:
for row in range(1,6): # 5 times
    for col in range(1,row+1): # 1 to row
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [26]:
for row in range(5,0,-1):
    for col in range(row,0,-1):
        print(col,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [27]:
for row in range(5,0,-1):
    for col in range(row,0,-1):
        print(row,end=" ")
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
for row in range(5,0,-1):
    for col in range(row,0,-1):
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

In [32]:
# print the prime numbers present within a range
# using both for loop and while loop
lw,up=int(input("first number:")),int(input("second number:"))
for num in range(lw,up+1): # outer loop: 1 to 100:100 times
    count=0
    for val in range(1,num+1): # 1 to num:
        if num%val==0: # factors
            count+=1 # count the factors
    if count is 2: # factors are 2
        print(num,end=" ")

first number:100
second number:200
101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199

In [1]:
 1 to 10: 10 times
        2 3 5 7: 2 factors:1 & num

SyntaxError: invalid syntax (<ipython-input-1-b2f9335493ad>, line 1)

In [2]:
# print the prime numbers present within a range
# using both for loop and while loop
# using for and for 
lw=int(input("first number:"))
up=int(input("second number:"))
for num in range(lw,up+1):
    count=0
    for val in range(1,num+1):
        if num%val==0:
            count+=1
    if count is 2:
        print(num,end=" ")

first number:90
second number:150
97 101 103 107 109 113 127 131 137 139 149

In [3]:
# using while loop
# while & while
f,s=int(input("first number:")),int(input("second number:")) # f=10 & s=20

while f<=s: # f should reach s
    count=0
    num=1
    while num<=f:
        if f%num==0:
            count+=1
        num+=1
    if count==2:
        print(f,end=" ")
    f+=1

first number:10
second number:50
11 13 17 19 23 29 31 37 41 43 47

In [ ]:
# print the all patterns using while loop
# print prime numbers present within range
# using while loop and for loop
# for loop and while loop

### continue statement
- continues the flow of execution

In [8]:
# print the odd numbers using even number logic
for num in range(1,20):
    if num%2==0: # even condition
        continue # continues
        print("continue executed")
    print(num,end=" ")

1 3 5 7 9 11 13 15 17 19

In [2]:
# break statement
# print the values from 1 to 10
num=1
while num<=10:
    print(num,end=" ")
    if num==6:
        break
        print("break executed")
    num+=1

1 2 3 4 5 6

In [4]:
# using pass statements
# pasuses the flow of execution for some time and works nothing
x=1
while x<=15:
    if x==5:
        pass
        print("pass executed")
    print(x)
    x+=1

1
2
3
4
pass executed
5
6
7
8
9
10
11
12
13
14
15

### Functions
- a block/set of statements executed to perform a perticular task
- modularity and code reusability
- we can divide the entire code into number of parts--module
- syntax:
    - def function_name(args):
        - the main logic 
       - return indicates end of function
- functions are of 2 types:
    - pre-defined functions
        - functions were defined when the language is developed/design
        - we can simply call and use them 
        - print() #to display the message
        - int(),input(),min(),max(),sum(),list(),tuple()
    - user-defined function
        - defined by the user
        - 4 ways to define:
           - function with return statement and with arguments
           - func without return and with args
           - function with return and without args
           - function without return and without args
           
- function definition
    - the main logic
    - keyword args and default args
- function call/calling function
    - the function get executed when it is called